<div class="container my-3">
    <h3>{{title}}</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/pexels-pixabay-301920.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">course title</h5>
                    <p class="byAuthor">by - <span><I>Author</I></span></p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="/course/1" mat-raised-button color="accent">More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./../../assets/images/pexels-pixabay-301920.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">course title</h5>
                    <p class="byAuthor">by - <span><I>Author</I></span></p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="/course/2" mat-raised-button color="accent">More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/pexels-abby-chung-1106468.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">course title</h5>
                    <p class="byAuthor">by - <span><I>Author</I></span></p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="/course/3" mat-raised-button color="accent">More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/pexels-pixabay-301920.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">course title</h5>
                    <p class="byAuthor">by - <span><I>Author</I></span></p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="/course/3" mat-raised-button color="accent">More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/pexels-pixabay-301920.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">course title</h5>
                    <p class="byAuthor">by - <span><I>Author</I></span></p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="/course/4" mat-raised-button color="accent">More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/pexels-pixabay-301920.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">course title</h5>
                    <p class="byAuthor">by - <span><I>Author</I></span></p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="/course/5" mat-raised-button color="accent">More...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>