<div class="recent_post">
    <h4>Recent Posts</h4>
    <div class="all_recent_post">
        <a href="">
            <div class="quick_card">
                <div class="quick_card_img">
                    <img src="../../../assets/images/pexels-abby-chung-1106468.jpg" alt="post">
                </div>
                <div>
                    <h6>course title</h6>
                    <p>by and date</p>
                </div>
            </div>
        </a>
        <a href="">
            <div class="quick_card">
                <div class="quick_card_img">
                    <img src="../../../assets/images/pexels-abby-chung-1106468.jpg" alt="post">
                </div>
                <div>
                    <h6>course title</h6>
                    <p>by and date</p>
                </div>
            </div>
        </a>
        <a href="">
            <div class="quick_card">
                <div class="quick_card_img">
                    <img src="../../../assets/images/pexels-abby-chung-1106468.jpg" alt="post">
                </div>
                <div>
                    <h6>course title</h6>
                    <p>by and date</p>
                </div>
            </div>
        </a>
        <a href="">
            <div class="quick_card">
                <div class="quick_card_img">
                    <img src="../../../assets/images/pexels-abby-chung-1106468.jpg" alt="post">
                </div>
                <div>
                    <h6>course title</h6>
                    <p>by and date</p>
                </div>
            </div>
        </a>
        <a href="">
            <div class="quick_card">
                <div class="quick_card_img">
                    <img src="../../../assets/images/pexels-abby-chung-1106468.jpg" alt="post">
                </div>
                <div>
                    <h6>course title</h6>
                    <p>by and date</p>
                </div>
            </div>
        </a>
        <a href="">
            <div class="quick_card">
                <div class="quick_card_img">
                    <img src="../../../assets/images/pexels-abby-chung-1106468.jpg" alt="post">
                </div>
                <div>
                    <h6>course title</h6>
                    <p>by and date</p>
                </div>
            </div>
        </a>
    </div>
</div>