<div class="container">
    <h5>Aout Us</h5>
    <div class="page-desc">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa placeat consequuntur numquam! Magni porro, nesciunt ea tempora illum quas! Dolorum voluptate veniam doloribus similique sed porro id quasi iure, excepturi sit debitis, beatae reprehenderit placeat. Labore distinctio repudiandae perferendis et dignissimos consequatur. Illo blanditiis dolores perferendis, repudiandae iste fugit error. Quae temporibus aliquid odit nisi officiis excepturi dolores doloribus voluptatibus sunt autem natus blanditiis libero quaerat, sed labore. Rem totam repellendus, fugit tenetur qui magni voluptatem consequatur? Quae veritatis vitae minima itaque magni laborum quam ad consequuntur quidem deleniti reiciendis corrupti, aperiam voluptas nisi fugit, praesentium natus placeat numquam!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad ab harum quod neque laboriosam quisquam fugiat exercitationem atque rerum? Ab, animi. Non, consectetur quisquam perferendis adipisci aperiam dolor reiciendis.

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt consequatur ullam accusamus quisquam eos id. Nemo consequatur necessitatibus neque? Voluptatum!
        </p>
    </div>
</div>